# Assignment 05

Author: Marcin Kaminski

In [1]:
# Imports

import pandas as pd
import numpy as np

## Part 1

In [2]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.head(5)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,IE0,Ireland,Number,5149139
1,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1492-13a3-e055-000000000001,Carlow County Council,Number,61968
2,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1433-13a3-e055-000000000001,Dublin City Council,Number,592713
3,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-149f-13a3-e055-000000000001,Dún Laoghaire Rathdown County Council,Number,233860
4,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-14a0-13a3-e055-000000000001,Fingal County Council,Number,330506

In [3]:
df = df[df["Sex"] != "Both sexes"]
df.head(5)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
3264,FY006AC01,Population,2022,2022,1,Male,-,All ages,IE0,Ireland,Number,2544549
3265,FY006AC01,Population,2022,2022,1,Male,-,All ages,2ae19629-1492-13a3-e055-000000000001,Carlow County Council,Number,30822
3266,FY006AC01,Population,2022,2022,1,Male,-,All ages,2ae19629-1433-13a3-e055-000000000001,Dublin City Council,Number,291796
3267,FY006AC01,Population,2022,2022,1,Male,-,All ages,2ae19629-149f-13a3-e055-000000000001,Dún Laoghaire Rathdown County Council,Number,112032
3268,FY006AC01,Population,2022,2022,1,Male,-,All ages,2ae19629-14a0-13a3-e055-000000000001,Fingal County Council,Number,162532

In [4]:
headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [5]:
drop_col_list = ['STATISTIC', 'Statistic Label','TLIST(A1)','C02199V02655','C02076V03371','C03789V04537','UNIT']
df.drop(columns=drop_col_list, inplace=True)

In [6]:
df = df[df["Single Year of Age"] != "All ages"].copy()

# ensure string before using .str
df['Single Year of Age'] = df['Single Year of Age'].astype(str)

# replace label
df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')

# remove non-digits
df['Single Year of Age'] = df['Single Year of Age'].str.replace(r'\D', '', regex=True)

# convert safely to numeric
df['Single Year of Age'] = pd.to_numeric(df['Single Year of Age'], errors='coerce')
df['VALUE'] = pd.to_numeric(df['VALUE'], errors='coerce')

df = df.dropna(subset=['Single Year of Age', 'VALUE']).copy()

df['Single Year of Age'] = df['Single Year of Age'].astype('int64')
df['VALUE'] = df['VALUE'].astype('int64')

print(df.head())

      CensusYear   Sex  Single Year of Age  \
3296        2022  Male                   0
3297        2022  Male                   0
3298        2022  Male                   0
3299        2022  Male                   0
3300        2022  Male                   0

                    Administrative Counties  VALUE
3296                                Ireland  29610
3297                  Carlow County Council    346
3298                    Dublin City Council   3188
3299  Dún Laoghaire Rathdown County Council   1269
3300                  Fingal County Council   2059

In [7]:
df_analysis = pd.pivot_table(df, 'VALUE',"Single Year of Age","Sex")
print (df_analysis.head(71))

Sex                    Female       Male
Single Year of Age
0                   1761.6250  1850.6250
1                   1721.5625  1804.6875
2                   1810.8750  1889.7500
3                   1842.6875  1937.5625
4                   1863.6875  1980.3750
...                       ...        ...
66                  1541.3750  1484.9375
67                  1532.7500  1476.6875
68                  1438.6250  1406.3750
69                  1460.9375  1412.1250
70                  1368.5625  1328.3125

[71 rows x 2 columns]

In [8]:
df_analysis = pd.pivot_table(df, 'VALUE',"Single Year of Age","Sex")
print (df_analysis.tail(30))

Sex                    Female       Male
Single Year of Age
71                  1327.2500  1278.0625
72                  1322.4375  1247.8125
73                  1258.3750  1195.0625
74                  1198.5625  1155.8125
75                  1143.3750  1092.0625
76                  1104.0625  1005.8750
77                   998.1875   912.5625
78                   916.6250   837.0000
79                   871.1250   760.3750
80                   760.8125   667.1250
81                   699.4375   591.8750
82                   672.4375   548.6875
83                   624.0625   493.7500
84                   555.6250   422.8125
85                   518.9375   384.6250
86                   468.8125   335.6250
87                   422.8750   282.1875
88                   370.4375   235.6875
89                   310.0625   189.7500
90                   267.8125   152.7500
91                   236.3125   121.8750
92                   175.5625    81.0625
93                   145.0000    58.5625
94                   108.5625    44.8750
95                    84.0000    30.1250
96                    59.7500    20.4375
97                    45.7500    13.5625
98                    30.7500     8.1250
99                    21.0000     6.5625
100                   36.5000     9.6250

In [9]:
# write out the entire file
df_analysis.to_csv("population_by_age_for_analysis.csv")

In [10]:
headers = list(df_analysis.columns)
female = headers[0]
#female

In [11]:
headers = list(df_analysis.columns)
male = headers[1]
#male

In [33]:
# Weighted mean age (women)

w_mean_women = np.average(df_analysis.index, weights=df_analysis[female])
#w_mean_women
print(f"Weighted mean age for women: {w_mean_women}")

Weighted mean age for women: 38.9397958987787

In [34]:
# Weighted mean age (men)

w_mean_men = np.average(df_analysis.index, weights=df_analysis[male])
#w_mean_men
print(f"Weighted mean age for men: {w_mean_men}")

Weighted mean age for men: 37.7394477371039

## Part 2

In [14]:
age = 35

In [15]:
df = df.copy()
df['age_numeric'] = pd.to_numeric(df['Single Year of Age'], errors='coerce')

In [16]:
lower_age = age - 5
upper_age = age + 5

In [20]:
age_mask = df['age_numeric'].ge(lower_age) & df['age_numeric'].le(upper_age)
group_df = df[age_mask].copy()
#group_df

In [30]:
# Aggregate population by sex

population_by_sex = group_df.groupby('Sex', dropna=False)['VALUE'].sum()
population_by_sex;

In [28]:
# Calculate difference (Male - Female)

male_population = population_by_sex.get('Male', 0)
female_population = population_by_sex.get('Female', 0)
difference = female_population - male_population
difference

60952

In [29]:
print("Population by sex within this age range:")
print(population_by_sex)

Population by sex within this age range:
Sex
Female    829012
Male      768060
Name: VALUE, dtype: int64

In [32]:
print(f"Female - Male = {difference}")

Female - Male = 60952

## Part 3