## datetime module





The `datetime` module provides six main high-level interface classes:

- `date`: An idealized date that assumes the Gregorian calendar extends infinitely into the future and past. It stores the year, month, and day as attributes.
- `time`: An idealized time that assumes there are $24 \times 60 \times 60=86,400$ seconds per day with no leap seconds. This object stores the hour, minute, second, microsecond, and tzinfo (time zone information).
- `datetime`: A combination of a date and a time. It has all the attributes of both classes.
- `timedelta`: A duration expressing the difference between two date, time, or datetime objects to microsecond resolution.
- `tzinfo`: Provides timezone-related information objects.
- `timezone`: A class that implements the `tzinfo` abstract base class as a fixed offset from the UTC.

There is also a `calendar` module for dealing with calendar functions
- month and week arithmetic
- formatting outputs

In [1]:
import datetime

**What is inside `datetime`?**

In [2]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

## Times

- Time values are represented with the **time** class. 
- Times have attributes for hour, minute, second, and microsecond. 

```python
datetime.time(hour=0, minute=0, second=0, microsecond=0, 
              tzinfo=None, *, fold=0)
```
more information in the [documentation](https://docs.python.org/3/library/time.html)

In [3]:
t=datetime.time(1, 2, 3)

In [4]:
print(t)

01:02:03

In [5]:
t=datetime.time(1, 2)

In [6]:
print(t)

01:02:00

In [7]:
print (f'hour  :      {t.hour}')
print (f'minute:      {t.minute}')
print (f'second:      {t.second}')
print (f'microsecond: {t.microsecond}')
print (f'tzinfo:      {t.tzinfo}')

hour  :      1
minute:      2
second:      0
microsecond: 0
tzinfo:      None

The variable <B>t</B> only holds values of time, and not a date associated with the time.
<P>
You can get the valid range of times in a single day:

In [8]:
print ('Earliest  :', datetime.time.min)
print ('Latest    :', datetime.time.max)
print ('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

Note that the resolution for time is limited to whole microseconds.

---

### <font color="blue">Breakout 1</font>
Create a `time` object with 5 microseconds and 39 minutes.

<p>

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
t = datetime.time(microsecond=5, minute=39)
print(t)
```

</p>
</details>

---

In [14]:
t = datetime.time(microsecond=5, minute=39)
print(t)

00:39:00.000005

In [15]:
t=datetime.time(0, 39, 0, 5)
print(t)

00:39:00.000005

## Dates

- Calendar date values are represented with the **date** class.
- A date is represented in terms of year, month, and day. 
- It is easy to create a date representing today’s date using the **today()** class method.
    
```python
datetime.date(year, month, day)
```
More information in the [documentation](https://docs.python.org/3/library/datetime.html#date-objects)

In [17]:
today = datetime.date.today()
print (f'today: \n\t {today}')
print (f'ctime: \n\t {today.ctime()}')
print (f'tuple: \n\t {today.timetuple()}')
print (f'ordinal: \n\t {today.toordinal()}')
print (f'Year: \n\t {today.year}')
print (f'Month: \n\t {today.month}')
print (f'Day: \n\t {today.day}')

today:
	 2025-11-20
ctime:
	 Thu Nov 20 00:00:00 2025
tuple:
	 time.struct_time(tm_year=2025, tm_mon=11, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=324, tm_isdst=-1)
ordinal:
	 739575
Year:
	 2025
Month:
	 11
Day:
	 20

There are also class methods for creating instances from integers (using proleptic Gregorian ordinal values, which starts counting from Jan. 1 of the year 1) or POSIX timestamp values.

The following example illustrates the different value types used by:

- `fromordinal()`: Return the date corresponding to the proleptic Gregorian ordinal, (number of days elapsed from the date 01/Jan/0001)
- `fromtimestamp()`: Return the local date corresponding to the timestamp.

In [18]:
import time

o = 733114
print (f'o = {o} and fromordinal(o) = {datetime.date.fromordinal(o)}')

t = time.time()
print (f't = {t} and fromtimestamp(t) = {datetime.date.fromtimestamp(t)}')

o = 733114 and fromordinal(o) = 2008-03-13
t = 1763681286.189566 and fromtimestamp(t) = 2025-11-20

We can also determine the range of date values:

In [19]:
print (f'Earliest:   {datetime.date.min}')
print (f'Latest:     {datetime.date.max}')
print (f'Resolution: {datetime.date.resolution}')

Earliest:   0001-01-01
Latest:     9999-12-31
Resolution: 1 day, 0:00:00

Note too that the resolution for dates is a whole day.
<P>
Another way to create new date instances uses the <B>replace()</B> method of an existing date. For example, you can change the year, leaving the day and month alone.

In [20]:
d1 = datetime.date(2022, 7, 5)
print ('d1:', d1)

d2 = d1.replace(year=2023)
print ('d2:', d2)

d1: 2022-07-05
d2: 2023-07-05

In [21]:
help(d1.replace)

Help on built-in function replace:

replace(...) method of datetime.date instance
    Return date with new specified fields.

---

### <font color="blue">Breakout 2</font>
Create a `date` object where year is 2023 and the day is 5.

<p>

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
d = datetime.time(day=5, year=2023)
print(d)
```

</p>
</details>

---

In [27]:
d = datetime.date(day=5, month=1, year=2023)
print(d)

2023-01-05

## timedeltas

- Timedelta objects represent a duration.
- Can be used to calculate the difference between two dates or times.
- We can use <B>datetime</B> to perform basic arithmetic on date values via the <B>timedelta</B> class.

```python
datetime.timedelta(days=0, seconds=0, microseconds=0, 
                   milliseconds=0, minutes=0, hours=0, weeks=0)
```

In [28]:
print (f"microseconds: {datetime.timedelta(microseconds=1)}")
print (f"milliseconds: {datetime.timedelta(milliseconds=1)}")
print (f"seconds:      {datetime.timedelta(seconds=1)}")
print (f"minutes:      {datetime.timedelta(minutes=1)}")
print (f"hours:        {datetime.timedelta(hours=1)}")
print (f"days:         {datetime.timedelta(days=1)}")
print (f"weeks:        {datetime.timedelta(weeks=1)}")

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds:      0:00:01
minutes:      0:01:00
hours:        1:00:00
days:         1 day, 0:00:00
weeks:        7 days, 0:00:00

### <font color='green'>Date Arithmetic</font>

- Date math uses the standard arithmetic operators. 
- The following example with date objects illustrates using <B>timedelta</B> objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

In [29]:
today = datetime.date.today()
print('Today:', today)

Today: 2025-11-21

In [30]:
one_timedelta_day = datetime.timedelta(days=1)
print('One timedelta day:', one_timedelta_day)

One timedelta day: 1 day, 0:00:00

In [31]:
yesterday = today - one_timedelta_day
print('Yesterday:', yesterday)

Yesterday: 2025-11-20

In [32]:
tomorrow = today + one_timedelta_day
print('Tomorrow:', tomorrow)

Tomorrow: 2025-11-22

In [33]:
print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00

---

### <font color="blue">Breakout 3</font>
Create an arbitrary `date` object and add five weeks. Print the new date.

<p>

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
date = datetime.date.today()
print(date)
new_date = date + datetime.timedelta(weeks=5)
print(new_date)
```

</p>
</details>

---

In [36]:
today = datetime.date.today()
print(today)
new_day = today + datetime.timedelta(weeks=5)
print(new_day)

2025-11-21
2025-12-26

## Comparing Values

Both date and time values can be compared using the standard operators to determine which is earlier or later.

In [37]:
print ('Times:')
t1 = datetime.time(12, 55, 0)
print ('\tt1:', t1)
t2 = datetime.time(13, 5, 0)
print ('\tt2:', t2)
print ('\tt1 < t2:', t1 < t2)

Times:
	t1: 12:55:00
	t2: 13:05:00
	t1 < t2: True

In [38]:
print ('Dates:')
d1 = datetime.date.today()
print ('\td1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print ('\td2:', d2)
print ('\td1 > d2:', d1 > d2)

Dates:
	d1: 2025-11-21
	d2: 2025-11-22
	d1 > d2: False

## Combining Dates and Times:  `datetime`  Class

- We can use the datetime class to hold values consisting of both date and time components. 
- Represents all the attributes from date and time objects.

```python
datetime.datetime(year, month, day, 
                  hour=0, minute=0, second=0, 
                  microsecond=0, tzinfo=None, *, fold=0)
```
more infomation in the [documentation](https://docs.python.org/3/library/datetime.html)

In [39]:
print(f'Now:     {datetime.datetime.now()}')
print(f'Today:   {datetime.datetime.today()}')
print(f'UTC Now: {datetime.datetime.utcnow()}')

Now:     2025-11-21 00:23:02.494101
Today:   2025-11-21 00:23:02.494601
UTC Now: 2025-11-21 00:23:02.495139

/var/folders/q2/x0y2jr6d0zn8h5ft8hmn3_rw0000gn/T/ipykernel_1493/2921065448.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  print(f'UTC Now: {datetime.datetime.utcnow()}')

In [40]:
d = datetime.datetime.now()
for attr in [ 'year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond']:
    print(f"{attr}: {getattr(d, attr)}")

year: 2025
month: 11
day: 21
hour: 0
minute: 33
second: 45
microsecond: 67948

In [42]:
NOW = datetime.datetime.now()
 
print(f"Current date & time =         {NOW}")
print(f"Date and time in ISO format = {NOW.isoformat()}")
print(f"Current year =                {NOW.year}")
print(f"Current month =               {NOW.month}")
print(f"Current date (day) =          {NOW.day}")
print(f"dd/mm/yyyy format =           {NOW.day}/{NOW.month}/{NOW.year}")
print(f"Current hour =                {NOW.hour}")
print(f"Current minute =              {NOW.minute}")
print(f"Current second =              {NOW.second}")
print(f"hh:mm:ss format =             {NOW.hour}:{NOW.minute}:{NOW.second}")

Current date & time =         2025-11-21 00:37:04.296171
Date and time in ISO format = 2025-11-21T00:37:04.296171
Current year =                2025
Current month =               11
Current date (day) =          21
dd/mm/yyyy format =           21/11/2025
Current hour =                0
Current minute =              37
Current second =              4
hh:mm:ss format =             0:37:4

* Just as with date, datetime provides convenient class methods for creating new instances. It also includes `fromordinal()` and `fromtimestamp()`. 
* In addition, `combine()` can be useful if you already have a date instance and time instance and want to create a datetime.

In [43]:
t = datetime.time(1, 2, 3)
print ('t :', t)

d = datetime.date.today()
print ('d :', d)

dt = datetime.datetime.combine(d, t)
print ('dt:', dt)

t : 01:02:03
d : 2025-11-21
dt: 2025-11-21 01:02:03

## Formating and Parsing

* The default string representation of a datetime object uses the format: `YYYY-MM-DDTHH:MM:SS.mmmmmm` 
* Alternate formats can be generated using `strftime()` function. 
     - Converts datetime objects into strings.
     - Uses different control code to give an output.
     - Each control code resembles different parameters like year, month, weekday and date.
* If your input data includes timestamp values parsable with `time.strptime()`, then `datetime.strptime()` is a convenient way to convert them to datetime instances.

**Useful `strptime` and `strftime` Patterns**

|Directive | Meaning |
| --- | --- |
| `%a` | Weekday as locale's abbreviated name |
| `%A` | Weekday as locale's full name |
| `%w` | Weekday as decimal number, where 0 is Sunday and 6 is Saturday |
| `%d` | Day of the month as a zero-padded decimal number [01, 02, ..., 30, 31] |
| `%b` | Month as locale's abbreviated name |
| `%B` | Weekday as locale's full name |
| `%m` | Month as zero-padded decimal number [01, 02, ..., 11, 12] |
| `%y` | Year without century as a zero-padded decimal number name [0001, ..., 2019, 2020, ..., 9999] |
| `%Y` | Year with century as a decimal number  |
| `%H` | Hour (24-hour clock) as a zero-padded decimal number [00, 01, ..., 22, 23] |
| `%I` | Hour (12-hour clock) as a zero-padded decimal number |
| `%p` | Locale equivalent of either AM or PM |
| `%M` | Minute as a zero-padded decimal number [00, 01, ..., 58, 59]|
| `%S` | Second as a zero-padded decimal number [00, 01, ..., 58, 59]|
| `%f` | Microsecond as a zero-padded decimal number |
| `%j` | Day of the year as a zero-padded decimal number |
| `%W` | Week number of the year (Monday as the first day of the week) as a decimal number |
| `%U` | Week number of the year (Sunday as the first day of the week) as a decimal number |
| `%c` | Locale’s appropriate date and time representation |
| `%Z` | Time zone name |
| `%z` | UTC offset in the form HH[SS[.fffff]] |

**Formatting**

Weekday Month Day Hour:Minute:Second Year

In [44]:
format = "%a %d %b %H:%M:%S %Y"

today = datetime.datetime.today()
print (f'ISO: {today}')

s = today.strftime(format)
print (f'strftime: {s}')

ISO: 2025-11-21 00:45:08.712972
strftime: Fri 21 Nov 00:45:08 2025

Obtain the time in HH:MM:SS

In [45]:
print(today.strftime("%X"))

00:45:08

Obtain the hour with 12 hours time

In [46]:
print(today.strftime("%I"))

12

Obtain AM or PM

In [47]:
print(today.strftime("%p"))

AM

`%c` - local date and time, `%x`-local's date, `%X`- local's time

In [48]:
print(f'Date and Time = {today.strftime("%c")}')
print(f'Date =          {today.strftime("%x")}')
print(f'Time =          {today.strftime("%X")}')

Date and Time = Fri Nov 21 00:45:08 2025
Date =          11/21/25
Time =          00:45:08

`%I/%H` - 12/24 Hour, `%M` - minute, `%S` - second, `%p` - local's AM/PM

In [49]:
print(f"Time = {today.strftime('%I:%M:%S %p')}") # 12-Hour:Minute:Second:AM
print(f"Hour:Minutes = {today.strftime('%H:%M')}") # 24-Hour:Minute

Time = 12:45:08 AM
Hour:Minutes = 00:45

**Parsing**

If the format of a string is known, it can be easily parsed to a `datetime` object using `strptime`.

In [50]:
datetime_str = 'Sep 19 2020 2:42PM'
datetime_fmt = '%b %d %Y %I:%M%p'
datetime_obj = datetime.datetime.strptime(datetime_str, datetime_fmt)

print('Date:        ', datetime_obj.date())
print('Time:        ', datetime_obj.time())
print('Date-time:   ', datetime_obj)

Date:         2020-09-19
Time:         14:42:00
Date-time:    2020-09-19 14:42:00

In [51]:
print('String date: ', datetime_obj.strftime(datetime_fmt))

String date:  Sep 19 2020 02:42PM

Examples of commonly used time formats and the tokens used for parsing:

```python
"Sep 15 2020 at 2:42PM"        -> "%b %d %Y at %I:%M%p"
"September 15, 2020, 14:42:15" -> "%B %d, %Y, %H:%M:%S"
"Tue,09/15/20,2:42PM"          -> "%a,%d/%m/%y,%I:%M%p"
"Tue, 15 September, 2020"      -> "%a, %d %B, %Y"
"2020-09-15T14:42:15Z"         -> "%Y-%m-%dT%H:%M:%SZ"
```

---

### <font color="blue">Breakout 4</font>

Write a function (named `number_days_between`) that:

- Takes two arguments that are 8-digit integers of the form YYYYMMDD (actually a date), and
- Returns the number of days between the two dates.

For instance:

```python
   number_days_between(20200617, 20200619) = 2
   number_days_between(20200619, 20100219) = 3773
```

<p>

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
def number_days_between(date1, date2):
    """
    Determine the number of days between two dates
    represented as 8-digit integers (YYYYMMDD).
    
    Paramters
    ---------
    date1 : int
        An arbitrary date with the format YYYYMMDD
    date2 : int
        An arbitrary date with the format YYYYMMDD
        
    Returns
    -------
    days : int
        Number of days between date1 and date2.
    """
    date_format = "%Y%m%d"
    dt_date1 = datetime.datetime.strptime(str(date1), date_format)
    dt_date2 = datetime.datetime.strptime(str(date2), date_format)
    
    if dt_date1 < dt_date2:
        return (dt_date2-dt_date1).days
    else:
        return (dt_date1-dt_date2).days
    
date1 = 20200617
date2 = 20200619
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")

date1 = 20200619
date2 = 20100219
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")
```

</p>
</details>
    
---

In [52]:
def number_days_between(date1, date2):
    """
    Determine the number of days between two dates
    represented as 8-digit integers (YYYYMMDD).
    
    Paramters
    ---------
    date1 : int
        An arbitrary date with the format YYYYMMDD
    date2 : int
        An arbitrary date with the format YYYYMMDD
        
    Returns
    -------
    days : int
        Number of days between date1 and date2.
    """
    date_format = "%Y%m%d"
    dt_date1 = datetime.datetime.strptime(str(date1), date_format)
    dt_date2 = datetime.datetime.strptime(str(date2), date_format)
    
    if dt_date1 < dt_date2:
        return (dt_date2-dt_date1).days
    else:
        return (dt_date1-dt_date2).days
    
date1 = 20200617
date2 = 20200619
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")

date1 = 20200619
date2 = 20100219
print(f"The number of days between {date1} and {date2}: {number_days_between(date1, date2)}")

The number of days between 20200617 and 20200619: 2
The number of days between 20200619 and 20100219: 3773

---

### <font color="blue">Breakout 5</font>

On July 16, 1969, the huge, 363-feet tall Saturn V rocket launches on the Apollo 11 mission from Pad A, Launch Complex 39, Kennedy Space Center, at 9:32 a.m. EDT. Write a Python program the computes (**from now**) the number of:

- Years
- Months
- Days
- Hours
- Minutes
- Seconds

since the launch.

Hint: [Check this website](https://stackoverflow.com/questions/1345827/how-do-i-find-the-time-difference-between-two-datetime-objects-in-python)
<p>

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
current_date = datetime.datetime.now()
launch_date = datetime.datetime(1969, 7, 16, 9, 32)
duration = current_date - launch_date

duration_in_s = duration.total_seconds()
years = divmod(duration_in_s, 31536000)[0]  # Seconds in a year=365*24*60*60 = 31536000
days  = divmod(duration_in_s, 86400)[0]     # Seconds in a day = 86400
hours = divmod(duration_in_s, 3600)[0]      # Seconds in an hour = 3600
minutes = divmod(duration_in_s, 60)[0]      # Seconds in a minute = 60

print(f"Number of Years:   {years}")
print(f"Number of Weeks:   {days/7}")
print(f"Number of Days:    {days}")
print(f"Number of Hours:   {hours}")
print(f"Number of Minutes: {minutes}")
print(f"Number of Seconds: {duration_in_s}")
```

</p>
</details>
    
---

In [53]:
current_date = datetime.datetime.now()
launch_date = datetime.datetime(1969, 7, 16, 9, 32)
duration = current_date - launch_date

duration_in_s = duration.total_seconds()
years = divmod(duration_in_s, 31536000)[0]  # Seconds in a year=365*24*60*60 = 31536000
days  = divmod(duration_in_s, 86400)[0]     # Seconds in a day = 86400
hours = divmod(duration_in_s, 3600)[0]      # Seconds in an hour = 3600
minutes = divmod(duration_in_s, 60)[0]      # Seconds in a minute = 60

print(f"Number of Years:   {years}")
print(f"Number of Weeks:   {days/7}")
print(f"Number of Days:    {days}")
print(f"Number of Hours:   {hours}")
print(f"Number of Minutes: {minutes}")
print(f"Number of Seconds: {duration_in_s}")

Number of Years:   56.0
Number of Weeks:   2940.1428571428573
Number of Days:    20581.0
Number of Hours:   493959.0
Number of Minutes: 29637561.0
Number of Seconds: 1778253706.370543

# Here endeth my lecture 
but if you want more

## <font color="red">Bonus Breakout</font>

- We want to write a function that increments a date by adding a number of years, a number of months and a number of days.
- We break the task into small ones by writing three functions that add the days, the months and the years, respectively. We then use the functions to accomplish our task.

### <font color="blue">Problem 1</font>

Write a function (`add_years`) that adds `num_years` to a date object.

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
def add_years (my_date, num_years):
    return my_date.replace(year=my_date.year + num_years)
```

</p>
</details>

In [58]:
def add_years (my_date, num_years):
    return my_date.replace(year=my_date.year + num_years)

### <font color="blue">Problem 2</font>

Write a function (`add_months`) that adds `num_months` to a date object.

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
def add_Months(my_date, num_months):
    m = my_date.month + num_months
    year  = m // 12
    month = m % 12
    if month == 0:
       month = 12
       year -= 1
    try:
        new_date = datetime.date(my_date.year+year, month, my_date.day)
    except ValueError:
        import calendar
        # determine the total number of days in a new month
        m1, d1 = calendar.monthrange(my_date.year+year, month)
        new_date = datetime.date(my_date.year+year, month, d1)
    return new_date
```

</p>
</details>

In [59]:
def add_Months(my_date, num_months):
    m = my_date.month + num_months
    year  = m // 12
    month = m % 12
    if month == 0:
       month = 12
       year -= 1
    try:
        new_date = datetime.date(my_date.year+year, month, my_date.day)
    except ValueError:
        import calendar
        # determine the total number of days in a new month
        m1, d1 = calendar.monthrange(my_date.year+year, month)
        new_date = datetime.date(my_date.year+year, month, d1)
    return new_date

### <font color="blue">Problem 3</font>

Write a function (`add_days`) that adds `num_days` to a date object.

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
def add_days (my_date, num_days):
    return my_date + datetime.timedelta(days=num_days)
```

</p>
</details>

In [60]:
def add_days (my_date, num_days):
    return my_date + datetime.timedelta(days=num_days)

### <font color="blue">Problem 4</font>

Write a function (`increment_date`) that:

- Has as arguments `ref_date` (in the format YYYYMMDD), `num_years`, `num_months` and `num_days`. 
- Adds `num_years`, `num_months` and `num_days` to `ref_date`.
- Returns a new date in the format YYYYMMDD.

Note that `num_years`, `num_months` and `num_days` can be either positive or negative numbers.

<details><summary><b>Click here to access the solution</b></summary>
<p>


```python
def increment_date(ref_date, num_years=0, num_months=0, num_days=0):
    # Extract the year, the month and day from ref_date
    y = ref_date // 10000
    m = (ref_date % 10000) // 100
    d = ref_date % 100
    
    # Determine the current date object
    cur_date = datetime.date(y, m, d)
    
    # Increment the date
    cur_date = add_years(cur_date, num_years)
    cur_date = add_months(cur_date, num_months)
    cur_date = add_days(cur_date, num_days)
    
    # Extract the new year, month and day
    curY = cur_date.year
    curM = cur_date.month
    curD = cur_date.day
    
    # Compute the new date in the format YYYYMMDD
    new_date = 10000*curY + 100*curM + curD
    
    return new_date

print(increment_date(20001231, num_months=-15, num_days=7))
```

</p>
</details>

In [61]:
def increment_date(ref_date, num_years=0, num_months=0, num_days=0):
    # Extract the year, the month and day from ref_date
    y = ref_date // 10000
    m = (ref_date % 10000) // 100
    d = ref_date % 100
    
    # Determine the current date object
    cur_date = datetime.date(y, m, d)
    
    # Increment the date
    cur_date = add_years(cur_date, num_years)
    cur_date = add_months(cur_date, num_months)
    cur_date = add_days(cur_date, num_days)
    
    # Extract the new year, month and day
    curY = cur_date.year
    curM = cur_date.month
    curD = cur_date.day
    
    # Compute the new date in the format YYYYMMDD
    new_date = 10000*curY + 100*curM + curD
    
    return new_date

print(increment_date(20001231, num_months=-15, num_days=7))

NameError: name 'add_months' is not defined

## <font color="purple">Going Deeper: Handling timezone</font>

- We can use the `pytz` module that allows accurate and cross platform timezone calculations.
- It provides implementations of **tzinfo** class that can be used to create timezone aware datetime instances.

In [62]:
import pytz
print(dir(pytz))

['AmbiguousTimeError', 'BaseTzInfo', 'FixedOffset', 'HOUR', 'InvalidTimeError', 'LazyDict', 'LazyList', 'LazySet', 'NonExistentTimeError', 'OLSEN_VERSION', 'OLSON_VERSION', 'UTC', 'UnknownTimeZoneError', 'VERSION', 'ZERO', '_CountryNameDict', '_CountryTimezoneDict', '_FixedOffset', '_UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_all_timezones_lower_to_standard', '_all_timezones_unchecked', '_case_insensitive_zone_lookup', '_p', '_test', '_tzinfo_cache', '_unmunge_zone', 'all_timezones', 'all_timezones_set', 'ascii', 'build_tzinfo', 'common_timezones', 'common_timezones_set', 'country_names', 'country_timezones', 'datetime', 'exceptions', 'lazy', 'open_resource', 'os', 'resource_exists', 'sys', 'timezone', 'tzfile', 'tzinfo', 'unicode', 'unpickler', 'utc']

Commonly Used Time Zones:

In [63]:
print(pytz.common_timezones_set)

LazySet({'America/Hermosillo', 'Indian/Maldives', 'Pacific/Tarawa', 'Asia/Jayapura', 'America/Lower_Princes', 'Atlantic/Madeira', 'America/Maceio', 'US/Pacific', 'America/Cuiaba', 'Africa/Johannesburg', 'Europe/Stockholm', 'Asia/Macau', 'Europe/London', 'Asia/Dili', 'Africa/Cairo', 'Europe/Samara', 'Pacific/Efate', 'Africa/Bangui', 'Australia/Broken_Hill', 'US/Hawaii', 'America/Paramaribo', 'America/Dominica', 'Asia/Baku', 'Pacific/Wallis', 'Asia/Famagusta', 'Europe/Simferopol', 'Africa/Gaborone', 'Europe/Vilnius', 'America/Juneau', 'Pacific/Majuro', 'Asia/Gaza', 'Asia/Oral', 'Asia/Seoul', 'Antarctica/Troll', 'Indian/Mayotte', 'America/Chihuahua', 'Europe/Bratislava', 'America/Indiana/Vincennes', 'America/Guayaquil', 'Europe/Istanbul', 'Africa/Conakry', 'America/Noronha', 'America/Port-au-Prince', 'America/Bogota', 'Africa/Banjul', 'Antarctica/Casey', 'Asia/Khandyga', 'Africa/Dakar', 'America/Argentina/Catamarca', 'America/Guyana', 'Europe/Riga', 'America/Yakutat', 'Atlantic/Canary', 'America/Edmonton', 'Asia/Thimphu', 'Africa/Abidjan', 'Europe/Lisbon', 'Europe/Mariehamn', 'America/Nome', 'Australia/Perth', 'Asia/Irkutsk', 'America/Whitehorse', 'America/Winnipeg', 'Europe/Kyiv', 'Pacific/Gambier', 'US/Mountain', 'America/Phoenix', 'Pacific/Auckland', 'America/Mazatlan', 'America/Manaus', 'Asia/Beirut', 'Europe/Volgograd', 'Pacific/Rarotonga', 'Africa/El_Aaiun', 'America/Belem', 'America/Goose_Bay', 'Europe/Oslo', 'America/La_Paz', 'Asia/Jakarta', 'America/Detroit', 'Arctic/Longyearbyen', 'Pacific/Pitcairn', 'Asia/Yangon', 'America/Indiana/Vevay', 'America/Kentucky/Louisville', 'Asia/Tashkent', 'Africa/Freetown', 'Europe/Tallinn', 'Asia/Ulaanbaatar', 'Asia/Tokyo', 'GMT', 'Africa/Asmara', 'America/Argentina/Jujuy', 'Asia/Samarkand', 'Africa/Libreville', 'Africa/Bujumbura', 'Africa/Ceuta', 'America/New_York', 'Asia/Jerusalem', 'America/Indiana/Marengo', 'America/North_Dakota/New_Salem', 'America/Vancouver', 'America/Fort_Nelson', 'Asia/Qostanay', 'America/Menominee', 'Asia/Dushanbe', 'America/Santarem', 'America/Argentina/San_Luis', 'Africa/Juba', 'Atlantic/Faroe', 'America/Bahia_Banderas', 'Asia/Amman', 'Africa/Lome', 'Australia/Lindeman', 'Africa/Kampala', 'America/Chicago', 'Asia/Chita', 'Asia/Vientiane', 'America/Cancun', 'Pacific/Chatham', 'Canada/Eastern', 'Asia/Karachi', 'Indian/Cocos', 'Asia/Brunei', 'America/Argentina/Salta', 'Europe/Vaduz', 'Asia/Kathmandu', 'Canada/Central', 'Asia/Bangkok', 'America/Managua', 'America/Tegucigalpa', 'America/Porto_Velho', 'Europe/Chisinau', 'America/Campo_Grande', 'America/Indiana/Tell_City', 'Antarctica/Mawson', 'Asia/Atyrau', 'Australia/Sydney', 'Europe/Malta', 'Africa/Nouakchott', 'America/Ciudad_Juarez', 'Asia/Hovd', 'America/Sao_Paulo', 'Pacific/Galapagos', 'Pacific/Guadalcanal', 'Africa/Harare', 'Asia/Omsk', 'Asia/Hebron', 'Asia/Colombo', 'America/Matamoros', 'America/Rio_Branco', 'Europe/Zagreb', 'Australia/Brisbane', 'Europe/Budapest', 'America/Metlakatla', 'Europe/Podgorica', 'Canada/Pacific', 'Atlantic/Reykjavik', 'Asia/Nicosia', 'America/St_Lucia', 'Asia/Kamchatka', 'Europe/San_Marino', 'Asia/Kabul', 'Indian/Reunion', 'America/St_Kitts', 'America/Swift_Current', 'Asia/Shanghai', 'America/Boa_Vista', 'America/Denver', 'America/St_Barthelemy', 'America/Santo_Domingo', 'Asia/Yakutsk', 'Europe/Jersey', 'Asia/Riyadh', 'Pacific/Pohnpei', 'America/El_Salvador', 'Pacific/Easter', 'Pacific/Noumea', 'America/Puerto_Rico', 'America/Port_of_Spain', 'Africa/Algiers', 'America/Argentina/Mendoza', 'Africa/Kinshasa', 'America/Antigua', 'US/Alaska', 'Atlantic/South_Georgia', 'America/Guatemala', 'Asia/Baghdad', 'Europe/Andorra', 'Africa/Windhoek', 'Europe/Gibraltar', 'Atlantic/St_Helena', 'Indian/Antananarivo', 'America/Argentina/Cordoba', 'Africa/Mogadishu', 'Asia/Choibalsan', 'Asia/Kuala_Lumpur', 'Asia/Anadyr', 'America/Cayenne', 'Africa/Addis_Ababa', 'America/Iqaluit', 'Africa/Djibouti', 'Canada/Mountain', 'Europe/Bucharest', 'America/Indiana/Knox', 'Africa/Maputo', 'Africa/Lusaka', 'Canada/Newfoundland', 'America/Merida', 'Pacific/Kiritimati', 'America/Guadeloupe', 'Atlantic/Stanley', 'Europe/Sofia', 'Asia/Makassar', 'Asia/Aqtau', 'Antarctica/Vostok', 'Asia/Tehran', 'Europe/Tirane', 'America/Mexico_City', 'America/Ojinaga', 'America/Grand_Turk', 'US/Central', 'Asia/Singapore', 'America/Dawson_Creek', 'Asia/Krasnoyarsk', 'Africa/Malabo', 'Australia/Melbourne', 'America/Recife', 'America/St_Johns', 'Europe/Skopje', 'America/Indiana/Winamac', 'Antarctica/Syowa', 'Africa/Tripoli', 'Europe/Ulyanovsk', 'America/Boise', 'Europe/Zurich', 'Africa/Ouagadougou', 'Africa/Kigali', 'Pacific/Chuuk', 'America/Indiana/Indianapolis', 'Asia/Kuching', 'Africa/Brazzaville', 'Pacific/Niue', 'Europe/Berlin', 'Indian/Mauritius', 'Africa/Luanda', 'Africa/Blantyre', 'Asia/Taipei', 'America/Marigot', 'America/Argentina/Tucuman', 'Asia/Yekaterinburg', 'Pacific/Pago_Pago', 'Pacific/Marquesas', 'Pacific/Fiji', 'Europe/Moscow', 'America/Nuuk', 'Indian/Mahe', 'America/Lima', 'Europe/Athens', 'America/Danmarkshavn', 'Asia/Magadan', 'Asia/Novokuznetsk', 'Asia/Pyongyang', 'America/Fortaleza', 'Asia/Manila', 'Asia/Dubai', 'Africa/Ndjamena', 'Africa/Lagos', 'Pacific/Bougainville', 'Asia/Barnaul', 'Australia/Eucla', 'Asia/Dhaka', 'America/Argentina/Rio_Gallegos', 'America/Cayman', 'Africa/Sao_Tome', 'Europe/Astrakhan', 'Pacific/Saipan', 'America/Inuvik', 'America/Scoresbysund', 'Antarctica/Macquarie', 'Asia/Novosibirsk', 'Europe/Helsinki', 'Europe/Saratov', 'Africa/Lubumbashi', 'America/Kralendijk', 'Asia/Urumqi', 'Asia/Srednekolymsk', 'Europe/Guernsey', 'Canada/Atlantic', 'Pacific/Honolulu', 'US/Eastern', 'Asia/Bahrain', 'Pacific/Port_Moresby', 'Africa/Bissau', 'America/Araguaina', 'America/Sitka', 'Europe/Paris', 'America/Anguilla', 'Asia/Damascus', 'Europe/Dublin', 'Africa/Niamey', 'America/Resolute', 'Europe/Kirov', 'Pacific/Kanton', 'America/Punta_Arenas', 'Asia/Kuwait', 'Asia/Tomsk', 'America/Tortola', 'Africa/Khartoum', 'Europe/Warsaw', 'America/Caracas', 'Pacific/Tongatapu', 'Africa/Monrovia', 'America/Cambridge_Bay', 'Europe/Madrid', 'UTC', 'Asia/Kolkata', 'Asia/Ashgabat', 'Antarctica/DumontDUrville', 'America/Barbados', 'Pacific/Fakaofo', 'America/Miquelon', 'Australia/Darwin', 'Antarctica/Davis', 'America/Asuncion', 'America/Montserrat', 'Asia/Ho_Chi_Minh', 'Antarctica/Rothera', 'Antarctica/McMurdo', 'Indian/Comoro', 'America/Eirunepe', 'Europe/Sarajevo', 'Indian/Christmas', 'America/Tijuana', 'America/Kentucky/Monticello', 'Atlantic/Cape_Verde', 'America/Argentina/Ushuaia', 'America/North_Dakota/Beulah', 'America/Curacao', 'Atlantic/Bermuda', 'Europe/Isle_of_Man', 'Europe/Monaco', 'Asia/Tbilisi', 'Africa/Porto-Novo', 'Asia/Ust-Nera', 'America/Montevideo', 'Europe/Amsterdam', 'Asia/Pontianak', 'Africa/Nairobi', 'America/Bahia', 'America/Halifax', 'America/Nassau', 'Africa/Casablanca', 'America/St_Vincent', 'America/Argentina/La_Rioja', 'Asia/Aqtobe', 'Asia/Yerevan', 'Indian/Chagos', 'Atlantic/Azores', 'America/Dawson', 'Pacific/Midway', 'Europe/Luxembourg', 'America/Argentina/San_Juan', 'America/Havana', 'Europe/Minsk', 'Europe/Vienna', 'America/Glace_Bay', 'Indian/Kerguelen', 'America/Toronto', 'Pacific/Funafuti', 'Pacific/Wake', 'Asia/Qatar', 'Asia/Muscat', 'America/Jamaica', 'Australia/Lord_Howe', 'Asia/Vladivostok', 'America/Rankin_Inlet', 'US/Arizona', 'Europe/Prague', 'America/Panama', 'Europe/Copenhagen', 'America/Costa_Rica', 'Europe/Kaliningrad', 'America/Belize', 'Pacific/Guam', 'America/Thule', 'America/Creston', 'Pacific/Apia', 'America/Los_Angeles', 'Africa/Dar_es_Salaam', 'Africa/Maseru', 'America/Atikokan', 'America/Santiago', 'Pacific/Norfolk', 'America/Martinique', 'Europe/Ljubljana', 'Pacific/Nauru', 'Europe/Rome', 'Asia/Almaty', 'Asia/Aden', 'America/Adak', 'Asia/Bishkek', 'Europe/Vatican', 'America/Indiana/Petersburg', 'Africa/Douala', 'Europe/Brussels', 'America/Regina', 'America/Argentina/Buenos_Aires', 'America/North_Dakota/Center', 'Asia/Qyzylorda', 'America/Grenada', 'Pacific/Kosrae', 'Asia/Phnom_Penh', 'America/Blanc-Sablon', 'Africa/Bamako', 'Africa/Tunis', 'America/Aruba', 'America/Moncton', 'America/Monterrey', 'Pacific/Tahiti', 'America/Anchorage', 'Europe/Busingen', 'Africa/Mbabane', 'Antarctica/Palmer', 'Europe/Belgrade', 'Australia/Hobart', 'Asia/Sakhalin', 'Pacific/Kwajalein', 'Pacific/Palau', 'Africa/Accra', 'Asia/Hong_Kong', 'Australia/Adelaide', 'America/St_Thomas'})

Country Names:

In [64]:
for key, val in pytz.country_names.items():
    print(key, '=', val, end=', ')

AD = Andorra, AE = United Arab Emirates, AF = Afghanistan, AG = Antigua & Barbuda, AI = Anguilla, AL = Albania, AM = Armenia, AO = Angola, AQ = Antarctica, AR = Argentina, AS = Samoa (American), AT = Austria, AU = Australia, AW = Aruba, AX = Åland Islands, AZ = Azerbaijan, BA = Bosnia & Herzegovina, BB = Barbados, BD = Bangladesh, BE = Belgium, BF = Burkina Faso, BG = Bulgaria, BH = Bahrain, BI = Burundi, BJ = Benin, BL = St Barthelemy, BM = Bermuda, BN = Brunei, BO = Bolivia, BQ = Caribbean NL, BR = Brazil, BS = Bahamas, BT = Bhutan, BV = Bouvet Island, BW = Botswana, BY = Belarus, BZ = Belize, CA = Canada, CC = Cocos (Keeling) Islands, CD = Congo (Dem. Rep.), CF = Central African Rep., CG = Congo (Rep.), CH = Switzerland, CI = Côte d'Ivoire, CK = Cook Islands, CL = Chile, CM = Cameroon, CN = China, CO = Colombia, CR = Costa Rica, CU = Cuba, CV = Cape Verde, CW = Curaçao, CX = Christmas Island, CY = Cyprus, CZ = Czech Republic, DE = Germany, DJ = Djibouti, DK = Denmark, DM = Dominica, DO = Dominican Republic, DZ = Algeria, EC = Ecuador, EE = Estonia, EG = Egypt, EH = Western Sahara, ER = Eritrea, ES = Spain, ET = Ethiopia, FI = Finland, FJ = Fiji, FK = Falkland Islands, FM = Micronesia, FO = Faroe Islands, FR = France, GA = Gabon, GB = Britain (UK), GD = Grenada, GE = Georgia, GF = French Guiana, GG = Guernsey, GH = Ghana, GI = Gibraltar, GL = Greenland, GM = Gambia, GN = Guinea, GP = Guadeloupe, GQ = Equatorial Guinea, GR = Greece, GS = South Georgia & the South Sandwich Islands, GT = Guatemala, GU = Guam, GW = Guinea-Bissau, GY = Guyana, HK = Hong Kong, HM = Heard Island & McDonald Islands, HN = Honduras, HR = Croatia, HT = Haiti, HU = Hungary, ID = Indonesia, IE = Ireland, IL = Israel, IM = Isle of Man, IN = India, IO = British Indian Ocean Territory, IQ = Iraq, IR = Iran, IS = Iceland, IT = Italy, JE = Jersey, JM = Jamaica, JO = Jordan, JP = Japan, KE = Kenya, KG = Kyrgyzstan, KH = Cambodia, KI = Kiribati, KM = Comoros, KN = St Kitts & Nevis, KP = Korea (North), KR = Korea (South), KW = Kuwait, KY = Cayman Islands, KZ = Kazakhstan, LA = Laos, LB = Lebanon, LC = St Lucia, LI = Liechtenstein, LK = Sri Lanka, LR = Liberia, LS = Lesotho, LT = Lithuania, LU = Luxembourg, LV = Latvia, LY = Libya, MA = Morocco, MC = Monaco, MD = Moldova, ME = Montenegro, MF = St Martin (French), MG = Madagascar, MH = Marshall Islands, MK = North Macedonia, ML = Mali, MM = Myanmar (Burma), MN = Mongolia, MO = Macau, MP = Northern Mariana Islands, MQ = Martinique, MR = Mauritania, MS = Montserrat, MT = Malta, MU = Mauritius, MV = Maldives, MW = Malawi, MX = Mexico, MY = Malaysia, MZ = Mozambique, NA = Namibia, NC = New Caledonia, NE = Niger, NF = Norfolk Island, NG = Nigeria, NI = Nicaragua, NL = Netherlands, NO = Norway, NP = Nepal, NR = Nauru, NU = Niue, NZ = New Zealand, OM = Oman, PA = Panama, PE = Peru, PF = French Polynesia, PG = Papua New Guinea, PH = Philippines, PK = Pakistan, PL = Poland, PM = St Pierre & Miquelon, PN = Pitcairn, PR = Puerto Rico, PS = Palestine, PT = Portugal, PW = Palau, PY = Paraguay, QA = Qatar, RE = Réunion, RO = Romania, RS = Serbia, RU = Russia, RW = Rwanda, SA = Saudi Arabia, SB = Solomon Islands, SC = Seychelles, SD = Sudan, SE = Sweden, SG = Singapore, SH = St Helena, SI = Slovenia, SJ = Svalbard & Jan Mayen, SK = Slovakia, SL = Sierra Leone, SM = San Marino, SN = Senegal, SO = Somalia, SR = Suriname, SS = South Sudan, ST = Sao Tome & Principe, SV = El Salvador, SX = St Maarten (Dutch), SY = Syria, SZ = Eswatini (Swaziland), TC = Turks & Caicos Is, TD = Chad, TF = French S. Terr., TG = Togo, TH = Thailand, TJ = Tajikistan, TK = Tokelau, TL = East Timor, TM = Turkmenistan, TN = Tunisia, TO = Tonga, TR = Turkey, TT = Trinidad & Tobago, TV = Tuvalu, TW = Taiwan, TZ = Tanzania, UA = Ukraine, UG = Uganda, UM = US minor outlying islands, US = United States, UY = Uruguay, UZ = Uzbekistan, VA = Vatican City, VC = St Vincent, VE = Venezuela, VG = Virgin Islands (UK), VI = Virgin Islands (US), VN = Vietnam, VU = Vanuatu, WF = Wallis & Futuna, WS = Samoa (western), YE = Yemen, YT = Mayotte, ZA = South Africa, ZM = Zambia, ZW = Zimbabwe,

Time zones in each country:

In [65]:
print('country_timezones =')
for key, val in pytz.country_timezones.items():
    print(key, '=', val, end=', ')

country_timezones =
AD = ['Europe/Andorra'], AE = ['Asia/Dubai'], AF = ['Asia/Kabul'], AG = ['America/Antigua'], AI = ['America/Anguilla'], AL = ['Europe/Tirane'], AM = ['Asia/Yerevan'], AO = ['Africa/Luanda'], AQ = ['Antarctica/McMurdo', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Mawson', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok'], AR = ['America/Argentina/Buenos_Aires', 'America/Argentina/Cordoba', 'America/Argentina/Salta', 'America/Argentina/Jujuy', 'America/Argentina/Tucuman', 'America/Argentina/Catamarca', 'America/Argentina/La_Rioja', 'America/Argentina/San_Juan', 'America/Argentina/Mendoza', 'America/Argentina/San_Luis', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Ushuaia'], AS = ['Pacific/Pago_Pago'], AT = ['Europe/Vienna'], AU = ['Australia/Lord_Howe', 'Antarctica/Macquarie', 'Australia/Hobart', 'Australia/Melbourne', 'Australia/Sydney', 'Australia/Broken_Hill', 'Australia/Brisbane', 'Australia/Lindeman', 'Australia/Adelaide', 'Australia/Darwin', 'Australia/Perth', 'Australia/Eucla'], AW = ['America/Aruba'], AX = ['Europe/Mariehamn'], AZ = ['Asia/Baku'], BA = ['Europe/Sarajevo'], BB = ['America/Barbados'], BD = ['Asia/Dhaka'], BE = ['Europe/Brussels'], BF = ['Africa/Ouagadougou'], BG = ['Europe/Sofia'], BH = ['Asia/Bahrain'], BI = ['Africa/Bujumbura'], BJ = ['Africa/Porto-Novo'], BL = ['America/St_Barthelemy'], BM = ['Atlantic/Bermuda'], BN = ['Asia/Brunei'], BO = ['America/La_Paz'], BQ = ['America/Kralendijk'], BR = ['America/Noronha', 'America/Belem', 'America/Fortaleza', 'America/Recife', 'America/Araguaina', 'America/Maceio', 'America/Bahia', 'America/Sao_Paulo', 'America/Campo_Grande', 'America/Cuiaba', 'America/Santarem', 'America/Porto_Velho', 'America/Boa_Vista', 'America/Manaus', 'America/Eirunepe', 'America/Rio_Branco'], BS = ['America/Nassau'], BT = ['Asia/Thimphu'], BW = ['Africa/Gaborone'], BY = ['Europe/Minsk'], BZ = ['America/Belize'], CA = ['America/St_Johns', 'America/Halifax', 'America/Glace_Bay', 'America/Moncton', 'America/Goose_Bay', 'America/Blanc-Sablon', 'America/Toronto', 'America/Iqaluit', 'America/Atikokan', 'America/Winnipeg', 'America/Resolute', 'America/Rankin_Inlet', 'America/Regina', 'America/Swift_Current', 'America/Edmonton', 'America/Cambridge_Bay', 'America/Inuvik', 'America/Creston', 'America/Dawson_Creek', 'America/Fort_Nelson', 'America/Whitehorse', 'America/Dawson', 'America/Vancouver'], CC = ['Indian/Cocos'], CD = ['Africa/Kinshasa', 'Africa/Lubumbashi'], CF = ['Africa/Bangui'], CG = ['Africa/Brazzaville'], CH = ['Europe/Zurich'], CI = ['Africa/Abidjan'], CK = ['Pacific/Rarotonga'], CL = ['America/Santiago', 'America/Punta_Arenas', 'Pacific/Easter'], CM = ['Africa/Douala'], CN = ['Asia/Shanghai', 'Asia/Urumqi'], CO = ['America/Bogota'], CR = ['America/Costa_Rica'], CU = ['America/Havana'], CV = ['Atlantic/Cape_Verde'], CW = ['America/Curacao'], CX = ['Indian/Christmas'], CY = ['Asia/Nicosia', 'Asia/Famagusta'], CZ = ['Europe/Prague'], DE = ['Europe/Berlin', 'Europe/Busingen'], DJ = ['Africa/Djibouti'], DK = ['Europe/Copenhagen'], DM = ['America/Dominica'], DO = ['America/Santo_Domingo'], DZ = ['Africa/Algiers'], EC = ['America/Guayaquil', 'Pacific/Galapagos'], EE = ['Europe/Tallinn'], EG = ['Africa/Cairo'], EH = ['Africa/El_Aaiun'], ER = ['Africa/Asmara'], ES = ['Europe/Madrid', 'Africa/Ceuta', 'Atlantic/Canary'], ET = ['Africa/Addis_Ababa'], FI = ['Europe/Helsinki'], FJ = ['Pacific/Fiji'], FK = ['Atlantic/Stanley'], FM = ['Pacific/Chuuk', 'Pacific/Pohnpei', 'Pacific/Kosrae'], FO = ['Atlantic/Faroe'], FR = ['Europe/Paris'], GA = ['Africa/Libreville'], GB = ['Europe/London'], GD = ['America/Grenada'], GE = ['Asia/Tbilisi'], GF = ['America/Cayenne'], GG = ['Europe/Guernsey'], GH = ['Africa/Accra'], GI = ['Europe/Gibraltar'], GL = ['America/Nuuk', 'America/Danmarkshavn', 'America/Scoresbysund', 'America/Thule'], GM = ['Africa/Banjul'], GN = ['Africa/Conakry'], GP = ['America/Guadeloupe'], GQ = ['Africa/Malabo'], GR = ['Europe/Athens'], GS = ['Atlantic/South_Georgia'], GT = ['America/Guatemala'], GU = ['Pacific/Guam'], GW = ['Africa/Bissau'], GY = ['America/Guyana'], HK = ['Asia/Hong_Kong'], HN = ['America/Tegucigalpa'], HR = ['Europe/Zagreb'], HT = ['America/Port-au-Prince'], HU = ['Europe/Budapest'], ID = ['Asia/Jakarta', 'Asia/Pontianak', 'Asia/Makassar', 'Asia/Jayapura'], IE = ['Europe/Dublin'], IL = ['Asia/Jerusalem'], IM = ['Europe/Isle_of_Man'], IN = ['Asia/Kolkata'], IO = ['Indian/Chagos'], IQ = ['Asia/Baghdad'], IR = ['Asia/Tehran'], IS = ['Atlantic/Reykjavik'], IT = ['Europe/Rome'], JE = ['Europe/Jersey'], JM = ['America/Jamaica'], JO = ['Asia/Amman'], JP = ['Asia/Tokyo'], KE = ['Africa/Nairobi'], KG = ['Asia/Bishkek'], KH = ['Asia/Phnom_Penh'], KI = ['Pacific/Tarawa', 'Pacific/Kanton', 'Pacific/Kiritimati'], KM = ['Indian/Comoro'], KN = ['America/St_Kitts'], KP = ['Asia/Pyongyang'], KR = ['Asia/Seoul'], KW = ['Asia/Kuwait'], KY = ['America/Cayman'], KZ = ['Asia/Almaty', 'Asia/Qyzylorda', 'Asia/Qostanay', 'Asia/Aqtobe', 'Asia/Aqtau', 'Asia/Atyrau', 'Asia/Oral'], LA = ['Asia/Vientiane'], LB = ['Asia/Beirut'], LC = ['America/St_Lucia'], LI = ['Europe/Vaduz'], LK = ['Asia/Colombo'], LR = ['Africa/Monrovia'], LS = ['Africa/Maseru'], LT = ['Europe/Vilnius'], LU = ['Europe/Luxembourg'], LV = ['Europe/Riga'], LY = ['Africa/Tripoli'], MA = ['Africa/Casablanca'], MC = ['Europe/Monaco'], MD = ['Europe/Chisinau'], ME = ['Europe/Podgorica'], MF = ['America/Marigot'], MG = ['Indian/Antananarivo'], MH = ['Pacific/Majuro', 'Pacific/Kwajalein'], MK = ['Europe/Skopje'], ML = ['Africa/Bamako'], MM = ['Asia/Yangon'], MN = ['Asia/Ulaanbaatar', 'Asia/Hovd', 'Asia/Choibalsan'], MO = ['Asia/Macau'], MP = ['Pacific/Saipan'], MQ = ['America/Martinique'], MR = ['Africa/Nouakchott'], MS = ['America/Montserrat'], MT = ['Europe/Malta'], MU = ['Indian/Mauritius'], MV = ['Indian/Maldives'], MW = ['Africa/Blantyre'], MX = ['America/Mexico_City', 'America/Cancun', 'America/Merida', 'America/Monterrey', 'America/Matamoros', 'America/Chihuahua', 'America/Ciudad_Juarez', 'America/Ojinaga', 'America/Mazatlan', 'America/Bahia_Banderas', 'America/Hermosillo', 'America/Tijuana'], MY = ['Asia/Kuala_Lumpur', 'Asia/Kuching'], MZ = ['Africa/Maputo'], NA = ['Africa/Windhoek'], NC = ['Pacific/Noumea'], NE = ['Africa/Niamey'], NF = ['Pacific/Norfolk'], NG = ['Africa/Lagos'], NI = ['America/Managua'], NL = ['Europe/Amsterdam'], NO = ['Europe/Oslo'], NP = ['Asia/Kathmandu'], NR = ['Pacific/Nauru'], NU = ['Pacific/Niue'], NZ = ['Pacific/Auckland', 'Pacific/Chatham'], OM = ['Asia/Muscat'], PA = ['America/Panama'], PE = ['America/Lima'], PF = ['Pacific/Tahiti', 'Pacific/Marquesas', 'Pacific/Gambier'], PG = ['Pacific/Port_Moresby', 'Pacific/Bougainville'], PH = ['Asia/Manila'], PK = ['Asia/Karachi'], PL = ['Europe/Warsaw'], PM = ['America/Miquelon'], PN = ['Pacific/Pitcairn'], PR = ['America/Puerto_Rico'], PS = ['Asia/Gaza', 'Asia/Hebron'], PT = ['Europe/Lisbon', 'Atlantic/Madeira', 'Atlantic/Azores'], PW = ['Pacific/Palau'], PY = ['America/Asuncion'], QA = ['Asia/Qatar'], RE = ['Indian/Reunion'], RO = ['Europe/Bucharest'], RS = ['Europe/Belgrade'], RU = ['Europe/Kaliningrad', 'Europe/Moscow', 'Europe/Kirov', 'Europe/Volgograd', 'Europe/Astrakhan', 'Europe/Saratov', 'Europe/Ulyanovsk', 'Europe/Samara', 'Asia/Yekaterinburg', 'Asia/Omsk', 'Asia/Novosibirsk', 'Asia/Barnaul', 'Asia/Tomsk', 'Asia/Novokuznetsk', 'Asia/Krasnoyarsk', 'Asia/Irkutsk', 'Asia/Chita', 'Asia/Yakutsk', 'Asia/Khandyga', 'Asia/Vladivostok', 'Asia/Ust-Nera', 'Asia/Magadan', 'Asia/Sakhalin', 'Asia/Srednekolymsk', 'Asia/Kamchatka', 'Asia/Anadyr'], UA = ['Europe/Simferopol', 'Europe/Kyiv'], RW = ['Africa/Kigali'], SA = ['Asia/Riyadh'], SB = ['Pacific/Guadalcanal'], SC = ['Indian/Mahe'], SD = ['Africa/Khartoum'], SE = ['Europe/Stockholm'], SG = ['Asia/Singapore'], SH = ['Atlantic/St_Helena'], SI = ['Europe/Ljubljana'], SJ = ['Arctic/Longyearbyen'], SK = ['Europe/Bratislava'], SL = ['Africa/Freetown'], SM = ['Europe/San_Marino'], SN = ['Africa/Dakar'], SO = ['Africa/Mogadishu'], SR = ['America/Paramaribo'], SS = ['Africa/Juba'], ST = ['Africa/Sao_Tome'], SV = ['America/El_Salvador'], SX = ['America/Lower_Princes'], SY = ['Asia/Damascus'], SZ = ['Africa/Mbabane'], TC = ['America/Grand_Turk'], TD = ['Africa/Ndjamena'], TF = ['Indian/Kerguelen'], TG = ['Africa/Lome'], TH = ['Asia/Bangkok'], TJ = ['Asia/Dushanbe'], TK = ['Pacific/Fakaofo'], TL = ['Asia/Dili'], TM = ['Asia/Ashgabat'], TN = ['Africa/Tunis'], TO = ['Pacific/Tongatapu'], TR = ['Europe/Istanbul'], TT = ['America/Port_of_Spain'], TV = ['Pacific/Funafuti'], TW = ['Asia/Taipei'], TZ = ['Africa/Dar_es_Salaam'], UG = ['Africa/Kampala'], UM = ['Pacific/Midway', 'Pacific/Wake'], US = ['America/New_York', 'America/Detroit', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Indiana/Indianapolis', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Vevay', 'America/Chicago', 'America/Indiana/Tell_City', 'America/Indiana/Knox', 'America/Menominee', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/North_Dakota/Beulah', 'America/Denver', 'America/Boise', 'America/Phoenix', 'America/Los_Angeles', 'America/Anchorage', 'America/Juneau', 'America/Sitka', 'America/Metlakatla', 'America/Yakutat', 'America/Nome', 'America/Adak', 'Pacific/Honolulu'], UY = ['America/Montevideo'], UZ = ['Asia/Samarkand', 'Asia/Tashkent'], VA = ['Europe/Vatican'], VC = ['America/St_Vincent'], VE = ['America/Caracas'], VG = ['America/Tortola'], VI = ['America/St_Thomas'], VN = ['Asia/Ho_Chi_Minh'], VU = ['Pacific/Efate'], WF = ['Pacific/Wallis'], WS = ['Pacific/Apia'], YE = ['Asia/Aden'], YT = ['Indian/Mayotte'], ZA = ['Africa/Johannesburg'], ZM = ['Africa/Lusaka'], ZW = ['Africa/Harare'],

Time zones in the US:

In [66]:
print('Supported timezones by US =', pytz.country_timezones['US'])

Supported timezones by US = ['America/New_York', 'America/Detroit', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Indiana/Indianapolis', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Vevay', 'America/Chicago', 'America/Indiana/Tell_City', 'America/Indiana/Knox', 'America/Menominee', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/North_Dakota/Beulah', 'America/Denver', 'America/Boise', 'America/Phoenix', 'America/Los_Angeles', 'America/Anchorage', 'America/Juneau', 'America/Sitka', 'America/Metlakatla', 'America/Yakutat', 'America/Nome', 'America/Adak', 'Pacific/Honolulu']

Get the current local date/time:

In [67]:
local = datetime.datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))
print("Time zone info:", local.tzinfo)

Local: 11/21/2025, 01:01:54
Time zone info: None

Get the current UTC date/time:

In [68]:
datetime_UTC = datetime.datetime.now(pytz.utc)
print("UTC:", datetime_UTC.strftime("%m/%d/%Y, %H:%M:%S"))
print("Time zone info:", datetime_UTC.tzinfo)

UTC: 11/21/2025, 01:02:04
Time zone info: UTC

Get the current date/time in the `America/Bahia_Banderas` time zone:

In [69]:
tz_BB = pytz.timezone('America/Bahia_Banderas') 
datetime_BB = datetime.datetime.now(tz_BB)
print("Bahia Banderas:", datetime_BB.strftime("%m/%d/%Y, %H:%M:%S"))
print("Time zone info:", datetime_BB.tzinfo)

Bahia Banderas: 11/20/2025, 19:02:17
Time zone info: America/Bahia_Banderas

Get the current date/time in the `Europe/London` time zone:

In [70]:
tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))
print("Time zone info:", datetime_London.tzinfo)

London: 11/21/2025, 01:02:37
Time zone info: Europe/London

## Reference Documents

- <A HREF="http://pleac.sourceforge.net/pleac_python/datesandtimes.html">Dates and Times</A>
- <A HREF="http://www.marinamele.com/2014/03/13-useful-tips-about-python-datetime.html">Usedul Tips about Python datetime Objects</A>
- <A HREF="https://pymotw.com/3/datetime/">datetime - Date and Time Value Manipulation</A>
- [google colab](https://colab.research.google.com/github/astg606/py_materials/blob/master/datetime/introduction_datetime.ipynb)